body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  box-sizing: border-box;
}
* {
  padding: 0;
  margin: 0;
}
.navbar {
  height: 750px;
  width: 100%;
  background-color: rgb(84, 126, 25);
}
.navbar1 {
  height: 60px;
  width: 70%;
  /* border: 1px solid black; */
  margin: auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.spice {
  color: white;
  font-size: 50px;
  font-weight: bold;
}
.Categroy {
  color: white;
  font-size: 20px;
  letter-spacing: 10px;
}
.navlist {
  list-style: none;
  color: white;
  display: flex;
}
ul > li {
  margin-left: 30px;
}
.fa-magnifying-glass {
  color: white;
  font-size: 20px;
}
.fa-cart-shopping {
  color: white;
  font-size: 20px;
}
.btn1 {
  box-shadow: 1px 1px 10px black;
  color: white;
  height: 45px;
  width: 150px;
  border: none;
  background-color: orange;
  font-size: 20px;
  border-radius: 10px;
}
.btn1:hover {
  background-color: rgb(242, 168, 29);
  cursor: pointer;
  transform: scale(1.2);
}
.nav2 {
  height: 30px;
  width: 155px;
  /* border: 1px solid black; */
  position: relative;
  left: 18%;
}
.secondsection {
  /* border: 1px solid black; */
  height: 600px;
  width: 80%;
  margin: auto;
}
.leftside {
  height: 400px;
  width: 40%;
  /* border: 1px solid black; */
  margin-left: 120px;
  margin-top: 150px;
}
.where {
  color: white;
  font-size: 45px;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}
.every {
  color: rgb(233, 155, 10);
  font-size: 45px;
  position: relative;
  bottom: 58px;
  left: 150px;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}
.is {
  color: white;
  font-size: 45px;
  position: relative;
  bottom: 58px;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}
.lmmerse {
  color: white;
  position: relative;
  bottom: 45px;
}
.order {
  height: 50px;
  width: 150px;
  border: none;
  background-color: white;
  color: orange;
  font-size: 20px;
  font-weight: bold;
  border-radius: 10px;
  box-shadow: 1px 1px 10px black;
}
.learn {
  height: 50px;
  width: 150px;
  border: 1px solid white;
  background-color: rgb(84, 126, 25);
  color: white;
  font-size: 20px;
  border-radius: 10px;
  margin-left: 25px;
  box-shadow: 1px 1px 10px black;
}
.order:hover {
  background-color: rgb(242, 235, 235);
  cursor: pointer;
  transform: scale(1.2);
}
.learn:hover {
  background-color: rgb(107, 151, 47);
  cursor: pointer;
  transform: scale(1.2);
}
.rightside {
  box-shadow: 1px 1px 20px black;
  border-radius: 30px;
  height: 540px;
  width: 35%;
  /* border: 1px solid black; */
  position: absolute;
  top: 20%;
  right: 11%;
  background-image: url(https://img.freepik.com/free-photo/mixed-fried-meat-with-pomegranate-sauce_140725-3461.jpg?w=826&t=st=1706471179~exp=1706471779~hmac=a9dbdd5c6fe3639542561a4dd570781d2fe90d82fbc4e5b179216c5eaf52f983);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.rightside:hover {
  cursor: pointer;
  transform: scale(1.2);
}
.thirdsection {
  height: 950px;
  width: 100%;
  /* border: 1px solid black; */
  background-color: white;
}
.midsection {
  height: 100px;
  width: 50%;
  /* border: 1px solid black; */
  margin: auto;
  color: orange;
  text-align: center;
  font-size: 20px;
  padding-top: 50px;
}
.midsection2 {
  height: 250px;
  width: 80%;
  /* border: 1px solid black; */
  margin: auto;
  margin-top: 50px;
  display: flex;
  justify-content: space-evenly;
}
.burger {
  height: 250px;
  width: 230px;
  /* border: 1px solid black; */
  text-align: center;
}
.Savory {
  color: rgb(77, 150, 57);
}
.Each {
  color: rgb(79, 78, 78);
}
.pizza {
  height: 250px;
  width: 230px;
  /* border: 1px solid black; */
  text-align: center;
}
.Mozzarella {
  color: rgb(77, 150, 57);
}
.savor {
  color: rgb(79, 78, 78);
}
.noddles {
  height: 250px;
  width: 230px;
  /* border: 1px solid black; */
  text-align: center;
}
.Delicious {
  color: rgb(77, 150, 57);
}
.chicken {
  height: 250px;
  width: 230px;
  /* border: 1px solid black; */
  text-align: center;
}
.Experience {
  color: rgb(79, 78, 78);
}
.Crispy {
  color: rgb(77, 150, 57);
}
.Indulge {
  color: rgb(79, 78, 78);
}
.Experience {
  color: rgb(79, 78, 78);
}
.img1 {
  border-radius: 10px;
}
.midsection3 {
  height: 250px;
  width: 80%;
  /* border: 1px solid black; */
  display: flex;
  justify-content: space-evenly;
  margin: auto;
  margin-top: 100px;
}
.img2 {
  height: 250px;
  width: 40%;
  /* border: 1px solid black; */
  border-radius: 20px;
  background-image: url(https://img.freepik.com/free-photo/delicious-pizza-indoors_23-2150873874.jpg?t=st=1706346283~exp=1706349883~hmac=6525460fd89b9270bd4de7ef6213f1355f31a841dae02aabd3107df58af045e4&w=1060);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  box-shadow: 2px 2px 10px black;
}
.img3 {
  height: 250px;
  width: 30%;
  /* border: 1px solid black; */
  border-radius: 20px;
  background-image: url(https://img.freepik.com/free-photo/burger-hamburger-cheeseburger_505751-3697.jpg?w=740&t=st=1706471119~exp=1706471719~hmac=4a3bb92bd1a54c8969c9c6e84eecc50193662932f139807b4e90c31c6efdfd5e);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  box-shadow: 2px 2px 10px black;
}
.grab {
  color: white;
  position: relative;
  left: 43%;
}
.discount {
  color: white;
  position: relative;
  left: 70%;
  font-size: 20px;
}
.yummy {
  color: white;
  font-size: 30px;
  text-align: center;
}
.discount2 {
  color: white;
  font-size: 20px;
  margin-left: 20px;
}
.fourthsection {
  height: 1000px;
  width: 100%;
  margin: auto;
  /* border: 1px solid black; */
  background-color: orange;
}
.heading2 {
  height: 100px;
  width: 50%;
  /* border: 1px solid black; */
  margin: auto;
  color: white;
  text-align: center;
  font-size: 50px;
  padding-top: 50px;
}
.buttons {
  display: flex;
  justify-content: space-evenly;
  height: 100px;
  width: 80%;
  /* border: 1px solid black; */
  margin: auto;
  margin-top: 20px;
}
.btn2 {
  height: 50px;
  width: 150px;
  font-size: 20px;
  color: white;
  border-radius: 30px;
  background: rgb(84, 126, 25);
  border: none;
}
.btn2:hover {
  background-color: rgb(93, 131, 40);
  cursor: pointer;
  transform: scale(1.2);
}
.display1 {
  height: 300px;
  width: 80%;
  /* border: 1px solid black; */
  display: flex;
  justify-content: space-evenly;
  margin: auto;
  margin-top: 50px;
}
.pic1 {
  height: 280px;
  width: 25%;
  /* border: 1px solid black; */
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
  background-color: white;
  box-shadow: 1px 1px 10px black;
}
.pic2 {
  height: 280px;
  width: 25%;
  /* border: 1px solid black; */
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
  background-color: white;
  box-shadow: 1px 1px 10px black;
}
.pic3 {
  height: 280px;
  width: 25%;
  /* border: 1px solid black; */
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
  background-color: white;
  box-shadow: 1px 1px 10px black;
}
.img4 {
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
}
.number1 {
  color: rgb(77, 150, 57);
  margin-left: 15px;
}
.Special {
  color: rgb(66, 61, 61);
  margin-left: 15px;
}
.fa-star {
  color: goldenrod;
  position: relative;
  left: 70%;
  bottom: 23%;
}
.number2 {
  color: black;
  position: relative;
  left: 78%;
  bottom: 31%;
}
.fifthsection {
  height: 800px;
  width: 100%;
  /* border: 1px solid black; */
  background-color: white;
}
.heading3 {
  height: 100px;
  width: 50%;
  /* border: 1px solid black; */
  margin: auto;
  color: orange;
  text-align: center;
  font-size: 50px;
  padding-top: 50px;
}
.display2 {
  display: flex;
  justify-content: space-evenly;
}
.pic4 {
  height: 600px;
  width: 35%;
  /* border: 1px solid black; */
  background-image: url(https://img.freepik.com/free-photo/male-cook-standing-kitchen-presenting-delicious-dish_23-2147863798.jpg?w=740&t=st=1706386115~exp=1706386715~hmac=27bb7562cd782b6d2748bacfd5fd8f878fe12dba8a0b18342779591af556e5e6);
  background-position: no-repeat;
  background-position: center;
  background-size: cover;
  box-shadow: 1px 1px 5px black;
}
.description {
  margin-top: 50px;
  margin-left: -100px;
  height: 600px;
  width: 35%;
  /* border: 1px solid black; */
}
.heading4 {
  color: rgb(84, 126, 25);
  font-size: 40px;
}
.we {
  margin-top: 30px;
  color: rgb(81, 79, 79);
  font-size: 20px;
}
.btn3 {
  box-shadow: 1px 1px 10px black;
  color: white;
  height: 45px;
  width: 150px;
  border: none;
  background-color: orange;
  font-size: 20px;
  border-radius: 10px;
  margin-top: 70px;
}
.btn3:hover {
  cursor: pointer;
  transform: scale(1.2);
  background-color: rgb(240, 178, 63);
}
.sixsection {
  height: 900px;
  width: 100%;
  /* border: 1px solid black; */
  margin: auto;
  background-color: rgb(243, 239, 235);
}
.heading5 {
  color: rgb(84, 126, 25);
  font-size: 40px;
  color: orange;
  text-align: center;
  padding-top: 50px;
}
.inputs {
  box-shadow: 1px 1px 10px rgb(44, 43, 43);
  height: 55px;
  width: 450px;
  border: 1px solid white;
  border-radius: 10px;
  position: relative;
  left: 15%;
  top: 10%;
  background-color: rgb(243, 239, 235);
  margin-left: 30px;
}
.input {
  box-shadow: 1px 1px 10px rgb(44, 43, 43);
  height: 55px;
  width: 940px;
  border: 1px solid white;
  border-radius: 10px;
  position: relative;
  left: 15%;
  top: 17%;
  background-color: rgb(243, 239, 235);
  margin-left: 30px;
}
.input2 {
  box-shadow: 1px 1px 10px rgb(44, 43, 43);
  height: 250px;
  width: 940px;
  border: 1px solid white;
  border-radius: 10px;
  position: relative;
  left: 15%;
  top: 25%;
  background-color: rgb(243, 239, 235);
  margin-left: 30px;
}
.btn4 {
  box-shadow: 1px 1px 10px black;
  color: white;
  height: 45px;
  width: 150px;
  border: none;
  background-color: rgb(84, 126, 25);
  font-size: 20px;
  border-radius: 10px;
  position: relative;
  top: 40%;
  left: -23%;
}
.btn4:hover {
  cursor: pointer;
  transform: scale(1.2);
  background-color: rgb(103, 147, 15);
}
.sevensection {
  height: 420px;
  width: 100%;
  background-color: orange;
}
.display3 {
  display: flex;
  justify-content: space-evenly;
}
.box1 {
  height: 250px;
  width: 20%;
  /* border: 1px solid black; */
  margin-top: 70px;
}
.box2 {
  height: 250px;
  width: 20%;
  /* border: 1px solid black; */
  margin-top: 70px;
}
.box3 {
  height: 250px;
  width: 31%;
  /* border: 1px solid black; */
  margin-top: 70px;
}
.spiced {
  color: white;
  font-size: 40px;
}
.Category2 {
  color: white;
  font-size: 25px;
  letter-spacing: 5px;
}
.number3 {
  color: white;
  font-size: 20px;
}
.number4 {
  color: rgb(84, 126, 25);
  font-size: 20px;
  margin-left: 10px;
}
.Quick {
  color: white;
  font-size: 35px;
}
.terms {
  color: white;
  font-size: 25px;
  margin-top: 20px;
}
.Subscribe {
  color: white;
  font-size: 35px;
}
.box4 {
  height: 50px;
  width: 90%;
  background-color: white;
  border-radius: 30px;
  margin: auto;
  margin-top: 10px;
}
.btn5 {
  height: 40px;
  width: 30%;
  border-radius: 30px;
  margin-left: 65%;
  margin-top: 5px;
  border: none;
  background-color: rgb(84, 126, 25);
  color: white;
  font-size: 15px;
}
.btn5:hover {
  cursor: pointer;
  transform: scale(1.2);
  background-color: rgb(103, 147, 15);
}
.box5 {
  display: flex;
  justify-content: space-evenly;
  height: 50px;
  width: 50%;
  margin: auto;
  /* border: 1px solid black; */
  color: white;
  font-size: 30px;
  margin-top: 20px;
}
.copy {
  color: white;
  position: relative;
  left: 40%;
  top: 50px;
}
